@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=League+Script&display=swap");

@import "tailwindcss";

* {
  font-family: "Outfit", serif;
}
a.active hr {
  display: block;
}

.league-script-regular {
  font-family: "League Script", cursive;
  font-weight: 500;
  font-style: normal;
}
@media (max-width: 640px) {
  a.active {
    background-color: white;
    color: black;
  }
  a {
    color: rgba(255, 255, 255, 0.75);
  }
}
